
body{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: 'Pacifico', cursive;
    background-color:#f3c1be;
    background-size:cover;
}

header{
    color:red;
    grid-area: header;
    margin-bottom: 0;
    padding-bottom: 0;
}

ul{
    list-style-type: georgian;
}

.menu li{
    display: inline;
    padding-left: 0px;
    font-size: 2vw;

}

.menu{
    display: inline;
    padding-right: 20px;
    
} 

nav{
    text-align: right;

}

.encabezado{
    display: inline;
    text-align: right;
}

.encabezado img{
    width: 100%;
    float: left;
}

.primerparrafo{
    color: rgb(175, 15, 68);
    margin-top: 100px;
    margin-bottom: 0;
    border: solid  5px rgb(126, 19, 78);
    text-align: left;
  
  
}

.image-container{
    background-image: url("../multimedia/kero_mostrando.png");
    background-size: contain;
    background-repeat:no-repeat;
    min-height: 200px;
}

.image-container:hover{
    background-image: url("../multimedia/Kero.png");
}

@media (max-width: 768px) {.image-container
    {
        display: none;
    }
}

.piedepagina{
    display: flex;
    text-align: right;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.PieDePagina{
    margin-right: 10px;
    grid-area: footer;
}
  


